// 卡片下拉框
// .open_message {
//     position: absolute;
//     right: 0em;
//     bottom: -2em;
//     width: 8em;
//     height: 2em;
//     z-index: 2;
//     background-image: url(src/open_06.png);
//     background-repeat: no-repeat;
//     background-size: cover;
//     cursor: pointer;
// }

// 卡片共同样式
.investigation_training_object,
.investigation_direction,
.investigation_filter,
.investigation_company_type_box,
.investigation_company_duty_box {
    margin: 1em;
    margin-right: 1px;
    background-color: $primary-color-text;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    border-bottom: 0.5em solid $border_bottom-color;
    position: relative;
    margin-bottom: 2em;
    padding: 1em;
}