.investigation_form_box {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    padding: 3em 2em 1em 2em;
    text-align: center;
    margin: 1em;
    margin-left: 1em;
    margin-right: 1px;
    background-color: $background-color;
    color: $third-color;
    border-bottom: 1em solid $border_bottom-color;
    margin-bottom: 5em;
    .investigation_people_name,
    .investigation_people_tel,
    .investigation_people_code {
        float: left;
        overflow: hidden;
        width: 100%;
        line-height: 2em;
        background-color: $primary-color-text;
        border-radius: 4px;
        margin-bottom: 0.5em;
        input {
            margin-top: 0.4em;
        }
    }
    .investigation_people_tel,
        {
        button {
            float: left;
        }
    }
    button {
        border: 0;
        outline: none;
        color: $primary-color-text;
        line-height: 2em;
        border-radius: 4px;
    }
    label {
        float: left;
        width: 5.5em;
        text-align: left;
        box-sizing: border-box;
        padding-left: 2em;
    }
    input {
        box-sizing: border-box;
        padding-left: 0.5em;
        border: none;
        outline: none;
        float: left;
        line-height: 1em;
    }
    label {
        position: relative;
        line-height: 2em;
    }
    label::before {
        position: absolute;
        content: ' ';
        display: block;
        width: 1em;
        height: 2em;
        left: 4px;
        top: 2px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .investigation_people_name,
    .investigation_people_tel {
        label::before {
            top: 5px;
            left: 5px;
        }
    }
    .investigation_people_name {
        input {
            width: 17.5em;
        }
        label::before {
            background-image: url(src/form_09.png);
        }
    }
    .investigation_people_tel {
        label::before {
            background-image: url(src/form_10.png);
        }
        input {
            width: 17.5em;
        }
    }
    .investigation_people_code {
        position: relative;
        label::before {
            background-image: url(src/form_11.png);
        }
        .code {
            width: 17.5em;
        }
    }
    .get_code {
        background: transparent;
        position: absolute;
        opacity: 1;
        top: 0;
        color: $third-color;
        right: 1em;
    }
}

.investigation_submit {
    margin: auto;
    margin-top: 1em;
    line-height: 2em;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    background-color: $primary-color;
    @extend .investigation_finish_btn;
}

.submit_btn_box {
    width: 100%;
}