.investigation_company_type_box {
    color: $primary-color;
    .investigation_company_type_title {
        line-height: 2em;
        overflow: hidden;
    }
    .investigation_company_type_title>span {
        font-size: 1.5em;
    }
    .investigation_company_type_ul {
        display: block;
        padding-left: 1em;
        overflow: hidden;
        li {
            float: left;
            width: 33%;
            padding-bottom: 1em;
            line-height: 1em;
        }
        input {
            float: left;
        }
        span {
            float: left;
            padding-left: 0.2em;
        }
    }
}