.report_title_box {
    font-size: 2em;
    color: $secondary-text-color;
}

.report_title {
    width: 100%;
    line-height: 2em;
    color: $primary-text-color;
    float: left;
}

.report_common_div {
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 5em;
}

.report_ul {
    height: inherit;
    padding-left: 1.5em;
    float: left;
    color: $secondary-text-color;
    box-sizing: border-box;
    li {
        box-sizing: border-box;
        float: left;
        line-height: 2em;
        padding: 0 0.5em;
    }
}

.report_first_ul {
    padding-left: 6.5em;
}

.report_third_ask {
    .report_ul {
        padding: 0.2em;
        height: inherit;
        @extend .investigation_leaf_box;
        width: 100%;
        background-color: $background-color;
        li {
            width: 100%;
            background-color: $primary-color-text;
            line-height: 2em;
            color: $secondary-text-color;
            padding-left: 1em;
        }
    }
}

.re_input_btn {
    display: block;
    width: 8em;
    margin-left: 3em;
    font-size: 1.5em;
    color: $primary-color-text;
    background-color: $accent-color;
    line-height: 2em;
    padding: 0 0.5em;
}