.investigation_training_object_label {
    color: $primary-text-color;
    overflow: hidden;
    span:first-child {
        font-size: 1.5em
    }
    button {
        background-color: $accent-color;
        color: $primary-color-text;
    }
}

.investigation_training_object {
    padding-bottom: 1em;
}


.investigation_reset_box {
    float: right;
    margin-right: 0.5em;
    overflow: hidden;
    line-height: 2em;
    span {
        float: left;
        font-size: 1em;
    }
    span:first-child {
        color: $accent-color;
    }
    span:first-child {
        font-size: 1em;
    }
    span:nth-of-type(2) {
        margin-top: 0.5em;
        display: block;
        width: 1.2em;
        text-align: center;
        line-height: 1.2em;
        border-radius: 1.2em;
        color: $primary-color-text;
        background-color: $accent-color;
        margin-left: 2px;
    }
}

.investigation_training_object_ul span {
    color: $primary-text-color;
    font-size: 1em;
}

.investigation_training_object_ul li {
    background-color: $background-color;
}

.investigation_training_object_ul li.active {
    background-color: $primary-color;
    input[type=checkbox] {
        background-color: $primary-color-text;
    }
    color: $primary-color-text;
}

.investigation_training_object_ul {
    overflow: hidden;
    margin-top: 1em;
    padding-left: 1em;
    li {
        padding-left: 0.8em;
        float: left;
        width: 30%;
        box-sizing: border-box;
        margin-right: 0.5em;
        line-height: 2em;
        border-radius: 2px;
        margin-bottom: 1em;
    }
    input {
        margin-top: 6px;
        margin-right: 4px;
        float: left;
    }
    span {
        float: left;
    }
}

.investigation_finish_btn {
    button {
        display: block;
        width: 6em;
        line-height: 2em;
        background-color: $accent-color;
        color: $primary-color-text;
    }
}