.title_messgae {
    float: left;
    width: 100%;
    font-size: 2em;
    line-height: 2em;
    color: $primary-text-color;
}

.content_message {
    float: left;
    width: 100%;
    font-size: 1em;
    color: $theme_right_bgcolor;
}

.enter_investigation {
    font-size: 1.5em;
    float: left;
    text-align: center;
    color: $primary-color-text;
    background-color: $accent-color;
    padding: 0 0.5em;
    line-height: 2em;
    margin-top: 2em;
}

.login_investigation {
    margin-left: 1em;
    margin-top: 2.5em;
    font-size: 1.5em;
    float: left;
    text-align: center;
    color: $primary-text-color;
}