.investigation_filter {
    .investigation_course_title {
        color: $primary-text-color;
        line-height: 2em;
        button {
            background-color: $accent-color;
            color: $primary-color-text;
        }
        .investigation_reset_box {
            span,
            lable {
                font-size: 1em;
            }
        }
    }
    .investigation_course_title>span,
    lable {
        font-size: 1.5em
    }
    .interest_courses {
        overflow: hidden;
        padding-left: 1em;
        background-color: $background-color;
        .filter_list_ul {
            display: block;
            float: left;
            margin-right: 2em;
            overflow: hidden;
            margin-bottom: 1em;
            li {
                border: 1px solid $accent-color;
                float: left;
                line-height: 2em;
                padding: 0 0.5em;
                color: $secondary-text-color;
                background-color: $primary-color-text;
            }
            li:first-child {
                margin-right: -1px;
                border-top-left-radius: 0.5em;
                border-bottom-left-radius: 0.5em;
            }
            li:last-child {
                margin-left: -1px;
                border-top-right-radius: 0.5em;
                border-bottom-right-radius: 0.5em;
            }
            li.active {
                background-color: $accent-color;
                color: $primary-color-text;
            }
        }
    }
    .investigation_course_ul {
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        color: $primary-text-color;
        padding-bottom: 1em;
        max-height: 22em;
        margin-bottom: 1em;
        background-color: $background-color;
        li {
            box-sizing: border-box;
            float: left;
            width: 100%;
            line-height: 2em;
            color: $primary-text-color;
            overflow: hidden;
            padding-left: 1em;
        }
        li:nth-of-type(odd) {
            background-color: $primary-color-text;
        }
        li.active {
            background-color: $primary-color;
            color: $primary-color-text;
            input[type=checkbox] {
                border-color: $primary-color-text;
            }
            input[type=checkbox]:after {
                color: $primary-color-text;
            }
        }
        input {
            float: left;
            margin-top: 0.5em;
            margin-right: 2px;
        }
        label {
            display: block;
            line-height: 2em;
        }
    }
    .investigation_course_ul::-webkit-scrollbar {
        display: block;
        width: 6px;
        height: 0;
        border-radius: 4px;
        background-color: $theme_right_bgcolor;
    }
    .investigation_course_ul::-webkit-scrollbar-thumb {
        display: block;
        width: 6px;
        border-radius: 4px;
        background-color: $primary-color;
    }
}