.investigation_child_direction_box {
    padding: 0 0 1em 0em;
    height: 8em;
    box-sizing: border-box;
    .investigation_direction_message {
        float: left;
        width: 100%;
        overflow: hidden;
        line-height: 1em;
        box-sizing: border-box;
        .investigation_un_leaf_ul {
            float: left;
            width: 100%;
        }
        input {
            margin-top: 0.4em;
            width: 14px;
            height: 14px;
            float: left;
            margin-right: 2px;
        }
        label {
            float: left;
            line-height: 2em;
        }
    }
    .investigation_un_leaf_ul {
        float: left;
        width: 100%;
        overflow: hidden;
        input {
            width: 14px;
            height: 14px;
            float: left;
        }
        span {
            float: left;
            line-height: 1em;
        }
        li {
            float: left;
            width: 100%;
            padding-bottom: 0.5em;
        }
    }
}

.investigation_direction_label {
    button {
        background-color: $accent-color;
        color: $primary-color-text;
    }
}

.investigation_direction_label {
    color: $primary-color;
    span {
        font-size: 1.5em
    }
    .investigation_reset_box {
        span {
            font-size: 1em;
        }
    }
}

.investigation_direction_box {
    display: block;
    overflow: hidden;
    padding-left: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.direction_box {
    overflow: hidden;
}

.investigation_leaf_box,
.investigation_child_direction_box {
    color: $primary-text-color;
    float: left;
    width: 50%;
    height: 16em;
    overflow-x: hidden;
    background-color: $primary-color-text;
    overflow-y: scroll;
    .investigation_un_leaf_ul {
        float: left;
    }
}

.investigation_leaf_box::-webkit-scrollbar,
.investigation_child_direction_box::-webkit-scrollbar {
    display: block;
    width: 6px;
    height: 0;
    border-radius: 4px;
    background-color: $theme_right_bgcolor;
}

.investigation_leaf_box::-webkit-scrollbar-thumb,
.investigation_child_direction_box::-webkit-scrollbar-thumb {
    display: block;
    width: 6px;
    border-radius: 4px;
    background-color: $primary-color;
}

.investigation_leaf_box {
    float: left;
    color: $primary-text-color;
    box-sizing: border-box;
    .investigation_direction_message {
        float: left;
        width: 100%;
        line-height: 2em;
        padding-bottom: 1em;
        span {
            float: left;
        }
        span:first-child {
            margin-left: 1em;
        }
        label {
            float: left;
        }
        input {
            float: left;
            margin-left: 1em;
            margin-top: 0.5em;
            margin-right: 2px;
        }
    }
    .investigation_direction_message.is_leaf {
        position: relative;
        background-color: $background-color;
    }
    .investigation_direction_message.is_leaf::before,
    .investigation_direction_message.is_leaf::after {
        position: absolute;
        content: '';
        display: block;
        width: 1em;
        height: 1em;
        border: 1px solid $primary-text-color;
    }
    .investigation_direction_message.active {
        background-color: $primary-color;
        color: $primary-color-text;
        input[type=checkbox] {
            border-color: $primary-color-text;
        }
        input[type=checkbox]:after {
            color: $primary-color-text;
        }
    }
    .investigation_direction_message.is_leaf.active::before,
    .investigation_direction_message.is_leaf.active::after {
        border-color: $primary-color-text;
    }
    .investigation_direction_message.is_leaf::before {
        right: 1.1em;
        top: 1em;
        z-index: 1;
        background-color: $background-color;
    }
    .investigation_direction_message.is_leaf.active::before {
        background-color: $primary-color;
    }
    .investigation_direction_message.is_leaf::after {
        right: 1.5em;
        top: 0.6em;
    }
}

.investigation_child_direction_box {
    margin-bottom: 1em;
    box-sizing: border-box;
    .investigation_direction_message {
        padding-left: 1em;
    }
}

.investigation_direction_message.is_radio.active {
    background-color: #5C89CC;
    color: #FFFFFF;
    box-sizing: border-box;
    input[type=checkbox] {
        border-color: #FFFFFF;
    }
    input[type=checkbox]:after {
        color: #FFFFFF;
    }
}