.investigation_child_direction_box {
    padding: 0 0 1em 4em;
    height: 8em;
    box-sizing: border-box;
    .investigation_direction_message {
        float: left;
        width: 100%;
        overflow: hidden;
        line-height: 1em;
        padding-bottom: 0.5em;
        padding-top: 1em;
        .investigation_un_leaf_ul {
            float: left;
            width: 100%;
        }
        input {
            width: 14px;
            height: 14px;
            float: left;
        }
        span {
            float: left;
            line-height: 1em;
        }
    }
    .investigation_un_leaf_ul {
        float: left;
        width: 100%;
        overflow: hidden;
        input {
            width: 14px;
            height: 14px;
            float: left;
        }
        span {
            float: left;
            line-height: 1em;
        }
        li {
            float: left;
            width: 100%;
            padding-bottom: 0.5em;
        }
    }
}

.investigation_direction_label {
    button {
        background-color: $accent-color;
        color: $primary-color-text;
    }
}

.investigation_direction_label {
    color: $primary-color;
    span {
        font-size: 1.5em
    }
    .investigation_reset_box {
        span {
            font-size: 1em;
        }
    }
}

.investigation_direction_box {
    display: block;
    overflow: hidden;
    padding-left: 1em;
    padding-bottom: 2em;
}

.direction_box {
    overflow: hidden;
}

.investigation_leaf_box,
.investigation_child_direction_box {
    color: $primary-text-color;
    float: left;
    width: 50%;
    height: 14em;
    overflow-x: hidden;
    overflow-y: scroll;
    .investigation_un_leaf_ul {
        float: left;
    }
}

.investigation_leaf_box::-webkit-scrollbar,
.investigation_child_direction_box::-webkit-scrollbar {
    display: block;
    width: 6px;
    height: 0;
    border-radius: 4px;
    background-color: $theme_right_bgcolor;
}

.investigation_leaf_box::-webkit-scrollbar-thumb,
.investigation_child_direction_box::-webkit-scrollbar-thumb {
    display: block;
    width: 6px;
    border-radius: 4px;
    background-color: $primary-color;
}

.investigation_leaf_box {
    float: left;
    color: $primary-text-color;
    .investigation_direction_message {
        float: left;
        width: 100%;
        margin-top: 1em;
        line-height: 1em;
        padding-bottom: 0.5em;
        span {
            float: left;
        }
        input {
            float: left;
        }
    }
}