@charset "UTF-8";
/* reset */
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0; }

body {
  font: 12px "Microsoft YaHei", "Arial Narrow", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%; }

html,
body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

input,
textarea {
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: transparent; }

a {
  color: #2d374b;
  text-decoration: none; }

a:hover {
  color: #cd0200;
  text-decoration: underline; }

em {
  font-style: normal; }

li {
  list-style: none; }

img {
  border: 0;
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  word-wrap: break-word; }

button {
  outline: none;
  border: 0; }

div {
  box-sizing: border-box; }

.none {
  display: none; }

.box {
  width: 100%; }

.main {
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.54);
  display: none;
  position: fixed;
  z-index: 1; }

.mainbox {
  width: 70%;
  height: 100px;
  top: 100px;
  left: 10%;
  margin: 0 auto;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px; }

.kkk {
  width: 100%; }

.close {
  color: red;
  cursor: pointer; }

input[type=radio] {
  /*去除浏览器默认样式*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*自定义样式*/
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  min-width: 14px;
  min-height: 14px;
  border: 1px solid #5C89CC;
  outline: none;
  cursor: pointer;
  /*设置为圆形，看起来是个单选框*/
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

/**
* 单选框 选中之后的样式
**/
input[type=radio]:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  min-width: 6px;
  min-height: 6px;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #5C89CC;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  /*增加一些动画*/
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms; }

input[type=radio]:checked:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1); }

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
  background: transparent;
  border: 1px solid #5C89CC;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  position: relative; }

input[type=checkbox]:after {
  content: ' ';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  top: 1px;
  left: 1px;
  min-width: 3px;
  min-height: 3px;
  background-color: #5C89CC;
  color: #5C89CC;
  text-align: center;
  line-height: 12px;
  border-radius: 50%;
  opacity: 0; }

input[type=checkbox]:checked:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity: 1; }

input[type=checkbox]:checked {
  border-color: #FFFFFF;
  background-color: #FFFFFF; }

li {
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms; }

body {
  background: linear-gradient(90deg, #71D4A5 0%, #71D4A5 30%, #f5f5f5 30%, #f5f5f5 100%); }

.investigation_box {
  position: relative;
  padding-top: 1em;
  overflow: hidden; }
  @media screen and (min-width: 768px) and (max-width: 960px) {
    .investigation_box {
      padding: 0;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 1em; } }
  @media screen and (min-width: 960px) and (max-width: 1280px) {
    .investigation_box {
      padding: 0;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 1em; } }
  @media screen and (min-width: 1280px) and (max-width: 1440px) {
    .investigation_box {
      padding: 0;
      padding-left: 15%;
      padding-right: 15%;
      padding-top: 1em; } }
  @media screen and (min-width: 1440px) {
    .investigation_box {
      padding: 0;
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 1em; } }

.investigation_box::after {
  display: table;
  content: ' '; }

.investigation_box > div {
  float: left; }
  @media screen and (max-width: 768px) {
    .investigation_box > div {
      width: calc(100% - 1.1em); } }

.investigation_box > div:nth-of-type(odd)::after {
  clear: both;
  content: ' '; }

.investigation_box > div:nth-of-type(even) {
  clear: right; }

@media screen and (min-width: 768px) {
  .investigation_training_object,
  .investigation_direction,
  .investigation_filter,
  .investigation_company_type_box,
  .investigation_company_duty_box,
  .investigation_start_info,
  .report_box,
  .investigation_form_box {
    width: 30em; } }

.investigation_training_object_label {
  color: #5C89CC;
  overflow: hidden;
  line-height: 2em; }
  .investigation_training_object_label span:first-child {
    font-size: 1.5em; }
  .investigation_training_object_label button {
    background-color: #FC766A;
    color: #FFFFFF; }

.investigation_training_object {
  padding-bottom: 1em; }

.investigation_reset_box {
  float: right;
  margin-right: 0.5em;
  overflow: hidden;
  line-height: 2em; }
  .investigation_reset_box span {
    float: left;
    font-size: 1em; }
  .investigation_reset_box span:first-child {
    color: #FC766A; }
  .investigation_reset_box span:first-child {
    font-size: 1em; }
  .investigation_reset_box span:nth-of-type(2) {
    margin-top: 0.2em;
    display: block;
    width: 1.5em;
    text-align: center;
    line-height: 1.5em;
    border-radius: 1.5em;
    color: #FFFFFF;
    background-color: #FC766A;
    margin-left: 4px; }

.investigation_training_object_ul li {
  background-color: #f5f5f5;
  color: #5C89CC; }

.investigation_training_object_ul li.active {
  background-color: #5C89CC;
  color: #FFFFFF; }
  .investigation_training_object_ul li.active input[type=checkbox] {
    background-color: #FFFFFF; }

.investigation_training_object_ul {
  overflow: hidden;
  margin-top: 1em; }
  .investigation_training_object_ul li {
    padding-left: 0.8em;
    float: left;
    width: 30%;
    box-sizing: border-box;
    margin-right: 0.5em;
    line-height: 2em;
    border-radius: 4px;
    margin-bottom: 1em;
    background-color: #f5f5f5; }
  .investigation_training_object_ul input {
    margin-top: 6px;
    margin-right: 4px;
    float: left; }
  .investigation_training_object_ul label {
    display: block; }

.investigation_finish_btn button {
  display: block;
  width: 6em;
  line-height: 2em;
  background-color: #FC766A;
  color: #FFFFFF; }

.investigation_child_direction_box {
  padding: 0 0 1em 0em;
  height: 8em;
  box-sizing: border-box; }
  .investigation_child_direction_box .investigation_direction_message {
    float: left;
    width: 100%;
    overflow: hidden;
    line-height: 1em;
    box-sizing: border-box;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms; }
    .investigation_child_direction_box .investigation_direction_message .investigation_un_leaf_ul {
      float: left;
      width: 100%; }
    .investigation_child_direction_box .investigation_direction_message input {
      margin-top: 0.4em;
      float: left;
      margin-right: 2px; }
    .investigation_child_direction_box .investigation_direction_message label {
      display: block;
      line-height: 2em; }
  .investigation_child_direction_box .investigation_direction_message:nth-of-type(odd) {
    background-color: #f5f5f5; }
  .investigation_child_direction_box .investigation_un_leaf_ul {
    float: left;
    width: 100%;
    overflow: hidden; }
    .investigation_child_direction_box .investigation_un_leaf_ul input {
      width: 14px;
      height: 14px;
      float: left; }
    .investigation_child_direction_box .investigation_un_leaf_ul span {
      float: left;
      line-height: 1em; }
    .investigation_child_direction_box .investigation_un_leaf_ul li {
      float: left;
      width: 100%;
      padding-bottom: 0.5em; }

.investigation_direction_label {
  line-height: 2em; }
  .investigation_direction_label button {
    background-color: #FC766A;
    color: #FFFFFF; }

.investigation_direction_label {
  color: #5C89CC; }
  .investigation_direction_label span {
    font-size: 1.5em; }
  .investigation_direction_label .investigation_reset_box span {
    font-size: 1em; }

.investigation_direction_box {
  padding-left: 1em;
  padding-top: 2em;
  padding-bottom: 2em; }

.direction_box {
  overflow: hidden; }

.investigation_leaf_box, .report_third_ask .report_ul,
.investigation_child_direction_box {
  color: #5C89CC;
  float: left;
  width: 50%;
  height: 16em;
  overflow-x: hidden;
  background-color: #FFFFFF;
  overflow-y: scroll; }
  .investigation_leaf_box .investigation_un_leaf_ul, .report_third_ask .report_ul .investigation_un_leaf_ul,
  .investigation_child_direction_box .investigation_un_leaf_ul {
    float: left; }

.investigation_leaf_box::-webkit-scrollbar, .report_third_ask .report_ul::-webkit-scrollbar,
.investigation_child_direction_box::-webkit-scrollbar {
  display: block;
  width: 6px;
  height: 0;
  border-radius: 4px;
  background-color: #BAB7D4; }

.investigation_leaf_box::-webkit-scrollbar-thumb, .report_third_ask .report_ul::-webkit-scrollbar-thumb,
.investigation_child_direction_box::-webkit-scrollbar-thumb {
  display: block;
  width: 6px;
  border-radius: 4px;
  background-color: #5C89CC; }

.investigation_leaf_box, .report_third_ask .report_ul {
  float: left;
  color: #5C89CC;
  box-sizing: border-box; }
  .investigation_leaf_box .investigation_direction_message, .report_third_ask .report_ul .investigation_direction_message {
    float: left;
    width: 100%;
    line-height: 3em;
    position: relative;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms; }
    .investigation_leaf_box .investigation_direction_message span, .report_third_ask .report_ul .investigation_direction_message span {
      float: left; }
    .investigation_leaf_box .investigation_direction_message span:first-child, .report_third_ask .report_ul .investigation_direction_message span:first-child {
      margin-left: 0.5em; }
    .investigation_leaf_box .investigation_direction_message label, .report_third_ask .report_ul .investigation_direction_message label {
      display: block; }
    .investigation_leaf_box .investigation_direction_message input, .report_third_ask .report_ul .investigation_direction_message input {
      float: left;
      margin-left: 0.5em;
      margin-top: 0.9em;
      margin-right: 2px; }
  .investigation_leaf_box .investigation_direction_message:nth-of-type(odd), .report_third_ask .report_ul .investigation_direction_message:nth-of-type(odd) {
    background-color: #f5f5f5; }
  .investigation_leaf_box .investigation_direction_message.is_leaf::before, .report_third_ask .report_ul .investigation_direction_message.is_leaf::before,
  .investigation_leaf_box .investigation_direction_message.is_leaf::after,
  .report_third_ask .report_ul .investigation_direction_message.is_leaf::after {
    position: absolute;
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    border: 1px solid #5C89CC; }
  .investigation_leaf_box .investigation_direction_message.active, .report_third_ask .report_ul .investigation_direction_message.active {
    background-color: #5C89CC;
    color: #FFFFFF; }
    .investigation_leaf_box .investigation_direction_message.active input[type=checkbox], .report_third_ask .report_ul .investigation_direction_message.active input[type=checkbox] {
      border-color: #FFFFFF; }
    .investigation_leaf_box .investigation_direction_message.active input[type=checkbox]:after, .report_third_ask .report_ul .investigation_direction_message.active input[type=checkbox]:after {
      color: #FFFFFF; }
  .investigation_leaf_box .investigation_direction_message.is_leaf.active::before, .report_third_ask .report_ul .investigation_direction_message.is_leaf.active::before,
  .investigation_leaf_box .investigation_direction_message.is_leaf.active::after,
  .report_third_ask .report_ul .investigation_direction_message.is_leaf.active::after {
    border-color: #FFFFFF; }
  .investigation_leaf_box .investigation_direction_message.is_leaf::before, .report_third_ask .report_ul .investigation_direction_message.is_leaf::before {
    right: 1.1em;
    top: 1em;
    z-index: 1;
    background-color: #f5f5f5; }
  .investigation_leaf_box .investigation_direction_message.is_leaf.active::before, .report_third_ask .report_ul .investigation_direction_message.is_leaf.active::before {
    background-color: #5C89CC; }
  .investigation_leaf_box .investigation_direction_message.is_leaf::after, .report_third_ask .report_ul .investigation_direction_message.is_leaf::after {
    right: 1.5em;
    top: 0.6em; }

.investigation_child_direction_box {
  margin-bottom: 1em;
  box-sizing: border-box; }
  .investigation_child_direction_box .investigation_direction_message {
    padding-left: 1em; }

.investigation_direction_message.is_radio.active {
  background-color: #5C89CC;
  color: #FFFFFF;
  box-sizing: border-box; }
  .investigation_direction_message.is_radio.active input[type=checkbox] {
    border-color: #FFFFFF; }
  .investigation_direction_message.is_radio.active input[type=checkbox]:after {
    color: #FFFFFF; }

.investigation_filter .investigation_course_title {
  color: #5C89CC;
  line-height: 2em; }
  .investigation_filter .investigation_course_title button {
    background-color: #FC766A;
    color: #FFFFFF; }
  .investigation_filter .investigation_course_title .investigation_reset_box span,
  .investigation_filter .investigation_course_title .investigation_reset_box lable {
    font-size: 1em; }
.investigation_filter .investigation_course_title > span,
.investigation_filter lable {
  font-size: 1.5em; }
.investigation_filter .interest_courses {
  overflow: hidden;
  padding-left: 1em;
  background-color: #f5f5f5; }
  .investigation_filter .interest_courses .filter_list_ul {
    display: block;
    float: left;
    margin-right: 2em;
    overflow: hidden;
    margin-bottom: 1em; }
    .investigation_filter .interest_courses .filter_list_ul li {
      border: 1px solid #FC766A;
      float: left;
      line-height: 2em;
      padding: 0 0.5em;
      color: #FC766A;
      background-color: #FFFFFF; }
    .investigation_filter .interest_courses .filter_list_ul li:first-child {
      margin-right: -1px;
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em; }
    .investigation_filter .interest_courses .filter_list_ul li:last-child {
      margin-left: -1px;
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em; }
    .investigation_filter .interest_courses .filter_list_ul li.active {
      background-color: #FC766A;
      color: #FFFFFF; }
.investigation_filter .investigation_course_ul {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #5C89CC;
  padding-bottom: 1em;
  max-height: 22em;
  margin-bottom: 1em;
  background-color: #f5f5f5; }
  .investigation_filter .investigation_course_ul li {
    box-sizing: border-box;
    float: left;
    width: 100%;
    line-height: 2em;
    color: #5C89CC;
    overflow: hidden;
    padding-left: 1em; }
  .investigation_filter .investigation_course_ul li:nth-of-type(odd) {
    background-color: #FFFFFF; }
  .investigation_filter .investigation_course_ul li.active {
    background-color: #5C89CC;
    color: #FFFFFF; }
    .investigation_filter .investigation_course_ul li.active input[type=checkbox] {
      border-color: #FFFFFF; }
    .investigation_filter .investigation_course_ul li.active input[type=checkbox]:after {
      color: #FFFFFF; }
  .investigation_filter .investigation_course_ul input {
    float: left;
    margin-top: 0.5em;
    margin-right: 2px; }
  .investigation_filter .investigation_course_ul label {
    display: block;
    line-height: 2em; }
.investigation_filter .investigation_course_ul::-webkit-scrollbar {
  display: block;
  width: 6px;
  height: 0;
  border-radius: 4px;
  background-color: #BAB7D4; }
.investigation_filter .investigation_course_ul::-webkit-scrollbar-thumb {
  display: block;
  width: 6px;
  border-radius: 4px;
  background-color: #5C89CC; }

.investigation_company_type_box {
  color: #5C89CC; }
  .investigation_company_type_box .investigation_company_type_title {
    line-height: 2em;
    overflow: hidden; }
  .investigation_company_type_box .investigation_company_type_title > span {
    font-size: 1.5em; }
  .investigation_company_type_box .investigation_company_type_ul {
    display: block;
    margin-top: 1em;
    padding-left: 1em;
    overflow: hidden; }
    .investigation_company_type_box .investigation_company_type_ul li {
      float: left;
      width: 33%;
      line-height: 1em; }
    .investigation_company_type_box .investigation_company_type_ul input {
      float: left; }
    .investigation_company_type_box .investigation_company_type_ul label {
      display: block;
      padding-left: 0.2em; }
  .investigation_company_type_box .investigation_company_type_ul li {
    padding-left: 0.8em;
    float: left;
    width: 30%;
    box-sizing: border-box;
    margin-right: 0.5em;
    line-height: 2em;
    border-radius: 4px;
    margin-bottom: 1em;
    background-color: #f5f5f5; }
    .investigation_company_type_box .investigation_company_type_ul li input {
      margin-top: 0.5em; }
  .investigation_company_type_box .investigation_company_type_ul li.active {
    background-color: #5C89CC;
    color: #FFFFFF; }
    .investigation_company_type_box .investigation_company_type_ul li.active input[type=checkbox] {
      border-color: #FFFFFF; }
    .investigation_company_type_box .investigation_company_type_ul li.active input[type=checkbox]:after {
      color: #FFFFFF; }

.open_message {
  position: absolute;
  right: 0em;
  bottom: -1em;
  width: 12em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer; }

.open_message.open {
  background-image: url(src/open.png);
  bottom: -2em; }

.open_message.close {
  background-image: url(src/close.png); }

.investigation_finish_btn {
  color: #FFFFFF;
  background-color: #FC766A;
  text-align: center;
  width: 6em;
  line-height: 2em;
  display: block;
  margin: auto;
  border-radius: 4px; }

.investigation_training_object,
.investigation_direction,
.investigation_filter,
.investigation_company_type_box,
.investigation_company_duty_box,
.investigation_start_info,
.report_box {
  margin: 1em;
  margin-right: 1px;
  background-color: #FFFFFF;
  box-shadow: 0 0 0.5em rgba(49, 34, 34, 0.6);
  border-bottom: 1em solid #F1D661;
  position: relative;
  margin-bottom: 2em;
  padding: 1em; }

.investigation_start_info {
  overflow: hidden;
  padding: 0;
  padding: 2em; }

.report_box {
  padding: 2em; }

.investigation_form_box {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  padding: 3em 2em 1em 2em;
  text-align: center;
  margin: 1em;
  margin-left: 1em;
  margin-right: 1px;
  background-color: #f5f5f5;
  color: #5C89CC;
  border-bottom: 1em solid #F1D661;
  margin-bottom: 5em; }
  .investigation_form_box .investigation_people_name,
  .investigation_form_box .investigation_people_tel,
  .investigation_form_box .investigation_people_code {
    float: left;
    overflow: hidden;
    width: 100%;
    line-height: 2em;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 0.5em; }
    .investigation_form_box .investigation_people_name input,
    .investigation_form_box .investigation_people_tel input,
    .investigation_form_box .investigation_people_code input {
      margin-top: 0.4em; }
  .investigation_form_box .investigation_people_tel button {
    float: left; }
  .investigation_form_box button {
    border: 0;
    outline: none;
    color: #FFFFFF;
    background-color: #FC766A;
    line-height: 2em;
    border-radius: 0.5em; }
  .investigation_form_box label {
    display: block;
    width: 6em;
    text-align: left;
    box-sizing: border-box;
    padding-left: 2em; }
  .investigation_form_box input {
    box-sizing: border-box;
    padding-left: 0.5em;
    border: none;
    outline: none;
    float: left;
    line-height: 1em; }
  .investigation_form_box .investigation_submit {
    margin-top: 1em;
    line-height: 2em;
    width: 100%;
    text-align: center; }
  .investigation_form_box label {
    position: relative;
    line-height: 2em; }
  .investigation_form_box label::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 1em;
    height: 2em;
    left: 4px;
    top: 2px;
    background-size: contain;
    background-repeat: no-repeat; }
  .investigation_form_box .investigation_people_name input {
    width: 17.5em; }
  .investigation_form_box .investigation_people_name label::before {
    background-image: url(src/name_logo-07.png); }
  .investigation_form_box .investigation_people_tel label::before {
    background-image: url(src/phone_num-07.png); }
  .investigation_form_box .investigation_people_tel input {
    width: 17.5em; }
  .investigation_form_box .investigation_people_code {
    position: relative; }
    .investigation_form_box .investigation_people_code label::before {
      background-image: url(src/code_log-07.png); }
    .investigation_form_box .investigation_people_code .code {
      width: 17.5em; }
  .investigation_form_box .get_code {
    background: transparent;
    position: absolute;
    opacity: 1;
    top: 0;
    color: #5C89CC;
    right: 1em; }

.title_messgae {
  float: left;
  width: 100%;
  font-size: 2em;
  line-height: 2em;
  color: #5C89CC; }

.content_message {
  float: left;
  width: 100%;
  font-size: 1em;
  color: #BAB7D4; }

.enter_investigation {
  font-size: 1.5em;
  float: left;
  text-align: center;
  color: #FFFFFF;
  background-color: #FC766A;
  padding: 0 0.5em;
  line-height: 2em;
  margin-top: 2em; }

.login_investigation {
  margin-left: 1em;
  margin-top: 2.5em;
  font-size: 1.5em;
  float: left;
  text-align: center;
  color: #5C89CC; }

.login_box {
  display: block;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  padding: 3em 2em 1em 2em;
  text-align: center;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1px;
  background-color: #FFFFFF;
  color: #5C89CC;
  border-bottom: 1em solid #F1D661;
  margin-bottom: 5em; }
  .login_box .investigation_people_name,
  .login_box .login_telephone_box,
  .login_box .login_code_box {
    float: left;
    overflow: hidden;
    width: 100%;
    line-height: 2em;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-bottom: 0.5em; }
    .login_box .investigation_people_name input,
    .login_box .login_telephone_box input,
    .login_box .login_code_box input {
      margin-top: 0.4em; }
  .login_box .investigation_people_tel button {
    float: left; }
  .login_box button {
    border: 0;
    outline: none;
    color: #FFFFFF;
    background-color: #FC766A;
    line-height: 2em;
    border-radius: 0.5em; }
  .login_box label {
    float: left;
    width: 6em;
    text-align: left;
    box-sizing: border-box;
    padding-left: 2em; }
  .login_box input {
    box-sizing: border-box;
    padding-left: 0.5em;
    border: none;
    outline: none;
    float: left;
    background: transparent;
    width: calc(100% - 6em); }
  .login_box .investigation_submit {
    margin-top: 1em;
    line-height: 2em;
    width: 100%;
    text-align: center; }
  .login_box label {
    position: relative;
    line-height: 2em; }
  .login_box label::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 1em;
    height: 2em;
    left: 4px;
    top: 2px;
    background-size: contain;
    background-repeat: no-repeat; }
  .login_box .investigation_people_name label::before {
    background-image: url(src/name_logo-07.png); }
  .login_box .login_telephone_box label::before {
    background-image: url(src/phone_num-07.png); }
  .login_box .login_code_box {
    position: relative; }
    .login_box .login_code_box label::before {
      background-image: url(src/code_log-07.png); }
  .login_box #login_get_code {
    background: transparent;
    position: absolute;
    opacity: 1;
    top: 0;
    color: #5C89CC;
    right: 1em;
    width: auto; }

.report_title_box {
  font-size: 2em;
  color: #FC766A; }

.report_title {
  width: 100%;
  line-height: 2em;
  color: #5C89CC;
  float: left; }

.report_common_div {
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 5em; }

.report_ul {
  height: inherit;
  padding-left: 1.5em;
  float: left;
  color: #FC766A;
  box-sizing: border-box; }
  .report_ul li {
    box-sizing: border-box;
    float: left;
    line-height: 2em;
    padding: 0 0.5em; }

.report_first_ul {
  padding-left: 6.5em; }

.report_third_ask .report_ul {
  padding: 0.2em;
  height: inherit;
  width: 100%;
  background-color: #f5f5f5; }
  .report_third_ask .report_ul li {
    width: 100%;
    background-color: #FFFFFF;
    line-height: 2em;
    color: #FC766A;
    padding-left: 1em; }

.re_input_btn {
  display: block;
  width: 8em;
  margin-left: 3em;
  font-size: 1.5em;
  color: #FFFFFF;
  background-color: #FC766A;
  line-height: 2em;
  padding: 0 0.5em; }

.mainbox .close {
  color: #5C89CC;
  line-height: 2em;
  font-size: 1.5em; }
.mainbox button {
  display: block;
  width: 6em;
  margin: auto;
  font-size: 1.5em;
  line-height: 2em;
  color: #FFFFFF;
  background-color: #FC766A; }

.investigation_company_duty_box {
  padding-bottom: 1em;
  color: #5C89CC;
  background-color: #FFFFFF; }
  .investigation_company_duty_box .investigation_duty_type_title {
    overflow: hidden; }
  .investigation_company_duty_box .investigation_duty_type_title > span {
    font-size: 1.5em; }
  .investigation_company_duty_box .investigation_company_duty_ul {
    display: block;
    margin-top: 1em;
    padding-left: 1em; }
    .investigation_company_duty_box .investigation_company_duty_ul li {
      padding-left: 0.8em;
      float: left;
      width: 31%;
      box-sizing: border-box;
      margin-right: 0.5em;
      line-height: 2em;
      border-radius: 4px;
      margin-bottom: 1em;
      background-color: #f5f5f5; }
    .investigation_company_duty_box .investigation_company_duty_ul li.active {
      background-color: #5C89CC;
      color: #FFFFFF; }
      .investigation_company_duty_box .investigation_company_duty_ul li.active input[type=radio] {
        border-color: #FFFFFF;
        background-color: #FFFFFF; }
      .investigation_company_duty_box .investigation_company_duty_ul li.active input[type=radio]:after {
        background-color: #FFFFFF; }
    .investigation_company_duty_box .investigation_company_duty_ul input {
      float: left;
      margin-top: 0.4em; }
    .investigation_company_duty_box .investigation_company_duty_ul label {
      display: block;
      line-height: 2em;
      padding-left: 0.2em; }

/*# sourceMappingURL=main.css.map */
