@charset "UTF-8";
/* reset */
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0; }

body {
  font: 12px "Microsoft YaHei", "Arial Narrow", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%; }

html,
body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

input,
textarea {
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: transparent; }

a {
  color: #2d374b;
  text-decoration: none; }

a:hover {
  color: #cd0200;
  text-decoration: underline; }

em {
  font-style: normal; }

li {
  list-style: none; }

img {
  border: 0;
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  word-wrap: break-word; }

button {
  outline: none;
  border: 0; }

.investigation_box {
  position: relative;
  padding-top: 4em; }
  .investigation_box .investigation_box_bgcolor {
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    z-index: -10; }
    .investigation_box .investigation_box_bgcolor .investigation_box_left {
      float: left;
      display: block;
      width: 30%;
      height: 100vh;
      background-color: #71D4A5; }
    .investigation_box .investigation_box_bgcolor .investigation_box_right {
      float: left;
      display: block;
      width: 70%;
      background: #f5f5f5;
      height: 100vh; }

.investigation_training_object_label {
  color: #5C89CC;
  overflow: hidden; }
  .investigation_training_object_label span:first-child {
    font-size: 1.5em; }
  .investigation_training_object_label button {
    background-color: #FC766A;
    color: #FFFFFF; }

.investigation_reset_box {
  float: right;
  margin-right: 1.5em;
  overflow: hidden; }
  .investigation_reset_box span {
    float: left;
    font-size: 1em; }
  .investigation_reset_box span:first-child {
    color: #FC766A; }
  .investigation_reset_box span:first-child {
    font-size: 1em; }
  .investigation_reset_box span:nth-of-type(2) {
    display: block;
    width: 1.2em;
    text-align: center;
    line-height: 1.2em;
    border-radius: 1.2em;
    color: #FFFFFF;
    background-color: #FC766A;
    margin-left: 2px; }

.investigation_training_object_ul span {
  color: #5C89CC;
  font-size: 1em; }

.investigation_training_object_ul li {
  background-color: #f5f5f5; }

.investigation_training_object_ul li.active {
  background-color: #5C89CC; }
  .investigation_training_object_ul li.active input[type=checkbox] {
    background-color: #FFFFFF; }

.investigation_training_object_ul {
  overflow: hidden;
  padding-left: 1em; }
  .investigation_training_object_ul li {
    padding-left: 0.8em;
    float: left;
    width: 30%;
    box-sizing: border-box;
    margin-right: 0.5em;
    line-height: 2em;
    border-radius: 2px;
    margin-bottom: 1em; }
  .investigation_training_object_ul input {
    margin-top: 6px;
    margin-right: 4px;
    float: left; }
  .investigation_training_object_ul span {
    float: left; }

.investigation_finish_btn button {
  display: block;
  width: 6em;
  line-height: 2em;
  background-color: #FC766A;
  color: #FFFFFF; }

.investigation_child_direction_box {
  padding: 0 0 1em 4em;
  height: 8em;
  box-sizing: border-box; }
  .investigation_child_direction_box .investigation_direction_message {
    float: left;
    width: 100%;
    overflow: hidden;
    line-height: 1em;
    padding-bottom: 0.5em;
    padding-top: 1em; }
    .investigation_child_direction_box .investigation_direction_message .investigation_un_leaf_ul {
      float: left;
      width: 100%; }
    .investigation_child_direction_box .investigation_direction_message input {
      width: 14px;
      height: 14px;
      float: left; }
    .investigation_child_direction_box .investigation_direction_message span {
      float: left;
      line-height: 1em; }
  .investigation_child_direction_box .investigation_un_leaf_ul {
    float: left;
    width: 100%;
    overflow: hidden; }
    .investigation_child_direction_box .investigation_un_leaf_ul input {
      width: 14px;
      height: 14px;
      float: left; }
    .investigation_child_direction_box .investigation_un_leaf_ul span {
      float: left;
      line-height: 1em; }
    .investigation_child_direction_box .investigation_un_leaf_ul li {
      float: left;
      width: 100%;
      padding-bottom: 0.5em; }

.investigation_direction_label button {
  background-color: #FC766A;
  color: #FFFFFF; }

.investigation_direction_label {
  color: #5C89CC; }
  .investigation_direction_label span {
    font-size: 1.5em; }
  .investigation_direction_label .investigation_reset_box span {
    font-size: 1em; }

.investigation_direction_box {
  display: block;
  overflow: hidden;
  padding-left: 1em;
  padding-bottom: 2em; }

.direction_box {
  overflow: hidden; }

.investigation_leaf_box,
.investigation_child_direction_box {
  color: #5C89CC;
  float: left;
  width: 50%;
  height: 14em;
  overflow-x: hidden;
  overflow-y: scroll; }
  .investigation_leaf_box .investigation_un_leaf_ul,
  .investigation_child_direction_box .investigation_un_leaf_ul {
    float: left; }

.investigation_leaf_box::-webkit-scrollbar,
.investigation_child_direction_box::-webkit-scrollbar {
  display: block;
  width: 6px;
  height: 0;
  border-radius: 4px;
  background-color: #BAB7D4; }

.investigation_leaf_box::-webkit-scrollbar-thumb,
.investigation_child_direction_box::-webkit-scrollbar-thumb {
  display: block;
  width: 6px;
  border-radius: 4px;
  background-color: #5C89CC; }

.investigation_leaf_box {
  float: left;
  color: #5C89CC; }
  .investigation_leaf_box .investigation_direction_message {
    float: left;
    width: 100%;
    margin-top: 1em;
    line-height: 1em;
    padding-bottom: 0.5em; }
    .investigation_leaf_box .investigation_direction_message span {
      float: left; }
    .investigation_leaf_box .investigation_direction_message input {
      float: left; }

.investigation_filter .investigation_course_title {
  font-size: 1.5em;
  color: #5C89CC;
  padding-bottom: 1em; }
  .investigation_filter .investigation_course_title button {
    background-color: #FC766A;
    color: #FFFFFF; }
  .investigation_filter .investigation_course_title .investigation_reset_box span {
    font-size: 1em; }
.investigation_filter .interest_courses {
  overflow: hidden;
  padding-left: 1em; }
  .investigation_filter .interest_courses .filter_list_ul {
    display: block;
    float: left;
    margin-right: 2em;
    overflow: hidden;
    margin-bottom: 1em; }
    .investigation_filter .interest_courses .filter_list_ul li {
      border: 1px solid #FC766A;
      float: left;
      line-height: 2em;
      padding: 0 0.5em;
      color: #FC766A;
      background-color: #FFFFFF; }
    .investigation_filter .interest_courses .filter_list_ul li:first-child {
      margin-right: -1px;
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em; }
    .investigation_filter .interest_courses .filter_list_ul li:last-child {
      margin-left: -1px;
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em; }
    .investigation_filter .interest_courses .filter_list_ul li.active {
      background-color: #FC766A;
      color: #FFFFFF; }
.investigation_filter .investigation_course_ul {
  padding-left: 1em;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll; }
  .investigation_filter .investigation_course_ul li {
    float: left;
    width: 100%;
    line-height: 1em;
    margin-bottom: 0.5em; }
.investigation_filter .investigation_course_ul::-webkit-scrollbar {
  display: block;
  width: 6px;
  height: 0;
  border-radius: 4px;
  background-color: #c9c9c9; }
.investigation_filter .investigation_course_ul::-webkit-scrollbar-thumb {
  display: block;
  width: 6px;
  border-radius: 4px;
  background-color: #757575; }

.investigation_company_type_box {
  color: #5C89CC; }
  .investigation_company_type_box .investigation_company_type_title {
    padding-bottom: 1em; }
    .investigation_company_type_box .investigation_company_type_title span {
      font-size: 1.2em; }
  .investigation_company_type_box .investigation_company_type_ul {
    display: block;
    padding-left: 1em;
    overflow: hidden; }
    .investigation_company_type_box .investigation_company_type_ul li {
      float: left;
      width: 33%;
      padding-bottom: 1em;
      line-height: 1em; }
    .investigation_company_type_box .investigation_company_type_ul input {
      float: left; }
    .investigation_company_type_box .investigation_company_type_ul span {
      float: left;
      padding-left: 0.2em; }

.investigation_training_object::after,
.investigation_direction::after,
.investigation_filter::after,
.investigation_company_type_box::after,
.investigation_company_duty_box::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  transform: rotate(224deg);
  border-width: 16px;
  border-color: #F1D661 transparent transparent #F1D661;
  border-style: solid;
  border-top-left-radius: 0.8em;
  right: 3em;
  bottom: -22px; }

.investigation_training_object::before,
.investigation_direction::before,
.investigation_filter::before,
.investigation_company_type_box::before,
.investigation_company_duty_box::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #FFFFFF;
  right: 4em;
  bottom: -14px;
  z-index: 1; }

.investigation_training_object,
.investigation_direction,
.investigation_filter,
.investigation_company_type_box,
.investigation_company_duty_box {
  margin: 1em;
  margin-right: 1px;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  border-bottom: 0.5em solid #F1D661;
  position: relative;
  margin-bottom: 2em;
  padding: 1em; }

.investigation_training_object {
  padding-bottom: 1em; }

.investigation_training_object_label {
  padding-bottom: 1em; }

.investigation_finish_btn {
  color: #FFFFFF;
  background-color: #FC766A;
  text-align: center;
  width: 6em;
  line-height: 2em;
  display: block;
  margin: auto; }

input[type=radio] {
  /*去除浏览器默认样式*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /*自定义样式*/
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  border: 1px solid #5C89CC;
  outline: none;
  cursor: pointer;
  /*设置为圆形，看起来是个单选框*/
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

/**
* 单选框 选中之后的样式
**/
input[type=radio]:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #5C89CC;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  /*增加一些动画*/
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms; }

input[type=radio]:checked:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1); }

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid #5C89CC;
  outline: none;
  border-radius: 0;
  cursor: pointer; }

input[type=checkbox]:after {
  content: '●';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #5C89CC;
  text-align: center;
  line-height: 10px;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  opacity: 0; }

input[type=checkbox]:checked:after {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  opacity: 1; }

.investigation_form_box {
  display: block;
  border: 1px solid #000;
  overflow: hidden;
  padding: 1em 0 1em 2em;
  text-align: center; }
  .investigation_form_box .investigation_people_name,
  .investigation_form_box .investigation_people_tel,
  .investigation_form_box .investigation_people_code {
    float: left;
    overflow: hidden;
    width: 100%;
    line-height: 2em; }
    .investigation_form_box .investigation_people_name input,
    .investigation_form_box .investigation_people_tel input,
    .investigation_form_box .investigation_people_code input {
      margin-top: 0.5em; }
  .investigation_form_box .investigation_people_tel button {
    float: left; }
  .investigation_form_box button {
    border: 0;
    outline: none;
    background-color: #fff;
    line-height: 2em; }
  .investigation_form_box label {
    float: left;
    width: 4em;
    text-align: right; }
  .investigation_form_box input {
    box-sizing: border-box;
    padding-left: 0.5em;
    border: none;
    width: 9em;
    outline: none;
    float: left;
    background-color: #f5f5f5; }
  .investigation_form_box .investigation_submit {
    margin-top: 1em;
    border: 1px solid #000;
    line-height: 2em;
    width: 8em;
    text-align: center; }

.investigation_company_duty_box {
  display: block;
  padding-bottom: 1em;
  color: #5C89CC;
  overflow: hidden; }
  .investigation_company_duty_box .investigation_duty_type_title {
    padding-bottom: 1em; }
    .investigation_company_duty_box .investigation_duty_type_title span {
      font-size: 1.2em; }
  .investigation_company_duty_box .investigation_company_duty_ul {
    display: block;
    padding-left: 1em; }
    .investigation_company_duty_box .investigation_company_duty_ul li {
      float: left;
      width: 33%;
      padding-bottom: 1em;
      line-height: 1em; }
    .investigation_company_duty_box .investigation_company_duty_ul input {
      float: left; }
    .investigation_company_duty_box .investigation_company_duty_ul span {
      float: left;
      padding-left: 0.2em; }

/*# sourceMappingURL=main.css.map */
